*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.slide-show-items {
    position: relative;
}

.item {
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: 1s;
}

i, h2{
    font-size: 120px;
    line-height: 20rem;
    color: teal;
}

.show {
    transform: translate(-50%, -50%) scale(1);
}